<div class='projects-wrapper'>

  <div class='project-list'>

    {%- assign sorted_projects = site.projects | sort: 'number' -%}
    {%- for project in sorted_projects -%}
    <a class='project' href='{{ project.id | relative_url }}' title="{{ project.title }}">
      <div class='image' style='background-image:url("{{ project.banner_img }}")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
        <span class='title'>{{ project.box_title }}</span>
        <span class='desc'>{{ project.box_desc }}</span>
      </div>
    </a>
    {%- endfor -%}

    <a class='project' href='{{ "/projects/miser" | relative_url }}' title="Waters Corp - MISER">
      <div class='image' style='background-image:url("/images/miser_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>[Waters Corp] High-Throughput MISER</span>
      <span class='desc'>Hardware/firmware/software for prototype high-throughput LC-MS/MS screening</span>
      </div>
    </a>

    <a class='project' href='{{ "/projects/uw" | relative_url }}' title="Waters Corp - UniversalWorkflow">
      <div class='image' style='background-image:url("/images/uw_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>[Waters Corp] UniversalWorkflow</span>
      <span class='desc'>Modular task runner built with Electron/ReactJS</span>
      </div>
    </a>

    <a class='project' href='{{ "/projects/bevy" | relative_url }}' title="Bevy">
      <div class='image' style='background-image:url("/images/bevy_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>Bevy</span>
      <span class='desc'>Feature-complete failed social network. Web, iOS and Android apps</span>
      </div>
    </a>

    <a class='project' href='{{ "/projects/jomi" | relative_url }}' title="Journal of Medical Insight">
      <div class='image' style='background-image:url("/images/jomi_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>Journal of Medical Insight</span>
      <span class='desc'>Surgical video journal website and CMS - Node.js, ReactJS, MongoDB</span>
      </div>
    </a>

    <a class='project' href='{{ "/projects/crude" | relative_url }}' title="CRUDE-HX">
      <div class='image' style='background-image:url("/images/crude_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>CRUDE-HX</span>
      <span class='desc'>Game about drilling for oil | Adobe Flash / Haxe</span>
      </div>
    </a>

    <a class='project' href='{{ "/projects/asplosions" | relative_url }}' title="Asplosions">
      <div class='image' style='background-image:url("/images/asplosions_banner.png")'></div>
      <div class='image-cover'></div>
      <div class='infobox'>
      <span class='title'>ASPLOSIONS</span>
      <span class='desc'>Puzzle Platformer | Adobe Flash / Actionscript3</span>
      </div>
    </a>


  </div>
</div>