---
layout: default

#  {%- if site.posts.size > 0 -%}
#    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
#    <ul class="post-list">
#      {%- for post in site.posts -%}
#      <li>
#        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
#        <span class="post-meta">{{ post.date | date: date_format }}</span>
#        <h3>
#          <a class="post-link" href="{{ post.url | relative_url }}">
#            {{ post.title | escape }}
#          </a>
#        </h3>
#        {%- if site.show_excerpts -%}
#          {{ post.excerpt }}
#        {%- endif -%}
#      </li>
#      {%- endfor -%}
#    </ul>

#    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
#  {%- endif -%}
---

<div class="home">

  <div class='abstract'>
    <p>WELCOME TO MY PORTFOLIO // BLOG. PLEASE ENJOY YOUR STAY</p>
    <p>Computational Biology, Data Science, Data Viz, Mass-spec Proteomics</p>
    <p>Currently at: <a href="https://web.northeastern.edu/slavovlab" target="_blank" title="Slavov Lab Web Page">Slavov Laboratory</a>, <a href="https://northeastern.edu" target="_blank" title="Northeastern University Web Page">Northeastern University</a>, Boston MA</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.broadinstitute.org/vector-engineering/vector-engineering-team", target="_blank", title="Vector Engineering">Vector Engineering Team</a>, <a href="https://www.broadinstitute.org/", target="_blank", title="Broad Institute">Broad Institute</a>, Cambridge MA</p>
    <hr />
    <ul class='abstract-links'>
      <li><a href="{{ "/assets/resume-albert-chen.pdf" | relative_url }}" target="_blank">📄RESUMÉ</a></li>
      <li><a href="mailto:chen.alb@husky.neu.edu" target="_blank">📧E-MAIL</a></li>
      <li><a href="https://github.com/blahoink" target="_blank">
        <img src="/images/github_logo.png" width=16 height=16>GITHUB
      </a></li>
      <li><a href="https://twitter.com/atchen_" target="_blank">
        <img src="/images/twitter_logo.png" width=16 height=16>TWITTER
      </a></li>
      <li><a href="https://www.linkedin.com/in/achen339" target="_blank">
        <img src="/images/linkedin_logo.png" width=16 height=16>LINKEDIN</a></li>
      <li><a href="https://open.spotify.com/user/blahoink/playlist/0vao5qwBJCC26D1WCja6XX?si=XoguvV9rR_qaS4-5EdWJUg" target="_blank">🔊PLAYLIST</a></li>
      <li><a href="https://orcid.org/0000-0002-5387-0208" target="_blank" title="ORCID Profile">
        <img src="/images/orcid_16x16.png" width=16 height=16>ORCID
      </a></li>
    </ul>
    <hr />
  </div>

  <div class='row'>

    <div class='left-col'>

      <h3 class='projects-title'>Projects</h3>

      {%- include projects.html -%}
      
    </div>

    <div class='right-col'>
      <div class='popout'>
        <div class='categories'>
          <h3>Categories</h3>
          {% for category in site.categories %}
          {% assign category_name = category | first %}
          <a href="{{ "category/" | append: category_name | relative_url }}", title="All posts under {{ category_name }}">{{ category_name }}</a>
          {% endfor %}
        </div>
        <div class='recent-posts'>
          <h3>Recent Posts</h3>
          <ul>
          {% for post in site.posts limit:15 %}
            <li>
              <a href="{{ post.url }}" title="{{ post.title }}">[{{ post.date | date: "%Y-%m-%d" }}] {{ post.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>


</div>
